<div class="login">
    <img alt="图片" style="width:100%;height:100%; position:absolute;left:0%;top:0%;z-index:-1;pointer-events:none;" src="assets/image/background.png">
  <div class="border_background"></div>
  <img class="smile" src="assets/image/smile.png" alt="图片">
  <img class="weiai" src="assets/image/weiai.png" alt="图片">
  <img class="end" src="assets/image/end.png" alt="图片">
  <hr class="hr3"/>   
  <div class="title">
        {{text5}}
    </div>
    <hr class="hr4"/> 
  <div class="text1">{{text1}}</div>
     <img class="img2" *ngIf="isSelfie" src="assets/image/code.jpg" alt="图片">
  <div class="text3" *ngIf="istext3">查找你的<span>#时光子弹#</span>短视频</div>
</div>