   <div class="download">
      <div class="background">
          <img src="assets/images/background.png" width="100%" alt="图片">
        </div>
        <div class="content">
            <div class="picture1">
                <img src="assets/images/picture1.png" width="100%" alt="图片">
              </div>
            <div class="code">
                <img [src]="img_code" alt="小程序二维码" width=100%>      
               </div>
      <div class="text1">长按识别上方小程序码</div>
      <div class="text2">进入小程序即可欢畅下载</div>
      </div>
       <div class="kitty_txt">
          <img src="assets/images/kitty_txt.png" width=100% alt="图片">
        </div>
      </div>