<div class="waiting">
    <div class="background"></div>
    <div class="border_background"></div>
    <img class="future" src="assets/image/future.png" alt="图片">
    <img class="shining" src="assets/image/shining.png" alt="图片">
    <img class="logo" src="assets/image/2018.png" alt="图片">
    <img class="bullettime" src="assets/image/bullettime.png" alt="图片">
    <hr class="hr3"/>   
    <div class="title">
         温馨提示
      </div>
      <hr class="hr4"/> 
       <div  class="text1">您的短视频正在生成</div>
       <div class="text2">请耐心等待</div>
    <img class="bottom" src="assets/image/bottom.png" alt="图片">
  </div>