#outer{
    position: absolute;
    margin-top:40px;
}
.green-icon{
    color:green;
}
.red-icon{
    color:red;
}
table{
    width: 100%;
}
table tr{
    display: flex;justify-content: space-between;border-bottom:1px solid #dee2e6;
}
table tr td{
    padding: 0;vertical-align: center;display: inline-flex;;align-items: center;border: 0;text-align: center;width:19%;justify-content: center;
}
input[type='text']{
    width:2em;text-align: center
}