<div class="fail">
  <img alt="图片" style="width:100%;height:100%; position:absolute;left:0%;top:0%;z-index:-1 " src="assets/images/background.jpg">
  <!-- <img class="end" src="assets/images/end.png" alt="图片">
  <img class="logo" src="assets/images/logo.png" alt="图片"> -->
  <div class="border_background"></div>
  <div class="text3">您的视频正在生成</div>
  <div class="text4">请耐心等待</div>
  <div class="text5">...</div>
  <img class="code" alt="图片" src="assets/images/code.jpg">
  <div class="text1">关注金东文体</div>
  <div class="text2">体验乡村美丽幸福</div>
</div>