// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,
), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,
), cosmic, cosmic);

.scroll-show::-webkit-scrollbar
{
  width: 50px;
  background: transparent;
}
.scroll-show::-webkit-scrollbar-track
{
  width: 50px;
  background: transparent;
}
.scroll-show::-webkit-scrollbar-thumb
{
  width: 50px;
  height: 30px;
  border-radius: 3.5px;
  background-color: #D8D8D8;
}
