<div class="download">
   <img class="result_back" src="assets/images/result_back_picture.png" alt="图片">
    <img class="top_picture" src="assets/images/download_top.png" alt="图片">
    <img class="result_picture1" src="assets/images/result_picture1.png" alt="图片">
      <div class="code">
      <img src="assets/images/download.png" alt="图片" width=100%>      
     </div>
      <div class="text1">长按识别上方小程序码</div>
      <div class="text2">进入小程序即可欢畅下载</div>
      <img class="bottom_picture" src="assets/images/sanjiao.png" alt="图片">
      <div class="text3">时光子弹环绕创意视频服务</div>
    </div>
