<div class="waiting">
    <div class="background">
        <img src="assets/images/background.png" width="100%" alt="图片">
      </div>
    <div class="content">
        <div class="picture1">
            <img src="assets/images/picture1.png" width="100%" alt="图片">
          </div>
      <div class="title">#&nbsp;时光子弹&nbsp;#</div>
  <div class="text1">您的短视频正在生成</div>
  <div class="text2">请耐心等待</div>
  <div class="hr1"></div>
  <div class="tishi">温馨提示</div>
  <div class="hr2"></div>
  </div>
   <div class="kitty_txt">
      <img src="assets/images/kitty_txt.png" width=100% alt="图片">
    </div>
  </div>