   <div class="download">
    <!-- <img class="background_search" src="assets/images/background_search.png" alt="背景图"> -->
    <!-- <div class="logo">
      <img src="assets/images/logo.png" alt="LOGO">
    </div> -->
        <div class="content">
            <div class="code">
                <img [src]="img_code" alt="小程序二维码" width=100%>      
            </div>
            <div class="text1">长按识别上方小程序码</div>
            <div class="text2">进入小程序即可欢畅下载</div>
      </div>
      <!-- <button id="installaz" (click)="download()">下载</button> -->
      <!-- <a id="installaz" href="https://siiva-video-public.oss-cn-hangzhou.aliyuncs.com/soccer_1541382417zs_1543729878399.mp4?mp.wexin.qq.com">下载视频</a> -->
    </div>
