<div class="login">
  <div class="background">
    <img src="assets/images/background.png" width="100%" alt="图片">
  </div>
    <div class="kitty_txt" *ngIf="iskitty">
        <img src="assets/images/kitty_txt.png" width=100% alt="图片">
      </div>
  <div class="mengban" *ngIf="ismeng"></div>
  <div class="content">
    <div class="picture1">
      <img src="assets/images/picture1.png" width="100%" alt="图片">
    </div>
    <div class="title">#&nbsp;时光子弹&nbsp;#</div>
<div *ngIf="istext1" class="text1">{{text1}}</div>
<div *ngIf="istext2" class="text2">长按识别下方二维码</div>
<div *ngIf="istext3" class="text3">关注公众号</div>
<div class="text4" *ngIf="istext4">领取你的<span>#时光子弹#</span>短视频</div>
<div class="hr1"></div>
<div class="tishi">温馨提示</div>
<div class="hr2"></div>
</div>
<img *ngIf="iscode" class="code" src="assets/images/code.jpg" alt="图片">
<div *ngIf="istxt" class="txt">扫一扫领取视频</div>
</div>