.leave{
    position: absolute;
    right: 5%;
    top: 15%;
}
.container{
    margin-top:35px;
    .activity{
        .select{
            margin-top:15px;
        }
    }
    .result{
        button{
            margin-left:10px;
        }
    }
}