<p>Accounts:</p>
<div>
  帳號：
  <select [(ngModel)]="selectAccountIndex" (change)="this.siteMsg = ''; selectType = ''">
    <option value=0>請選擇帳號</option>
    <option *ngFor="let arr of accountListArr, let i = index" value="{{i}}">{{arr.account}}</option>
  </select>
</div>
<br>
<div *ngIf="selectAccountIndex">
  類型：
  <select [(ngModel)]="selectType" (change)="onSelectType()">
    <option value="">請選擇類型</option>
    <option value="BT">BT</option>
    <option value="Soccer">Soccer</option>
    <option value="Basketball">Basketball</option>
  </select>
</div>
<br>
<div *ngIf="selectType === 'BT'">
  <span *ngFor="let arr of siteSettingArr, let i = index" class="form-check">
    <input type="checkbox" [name]="value" [checked]="arr.checked" (click)="selectSites(i)" value="{{i}}"/>{{arr.siteId}}_{{arr.siteName}}
  </span>  
</div>
<div *ngIf="(selectType === 'Soccer') || (selectType === 'Basketball')">
  <span *ngFor="let arr of siteSettingArr, let i = index" class="form-check">
    <input type="checkbox" [name]="value" [checked]="arr.checked" (click)="selectSites(i)" value="{{i}}"/>{{arr.siteName}}
  </span>  
</div>
<br>
<div *ngIf="selectType">
  <button (click)="updateMatchSites()">Match</button>
  <p class="siteMsg">{{siteMsg}}</p>
</div>
