<div class="advertise">
    <div class="videolist">
        <div class="border1" *ngFor="let index of videolist,let i=index">
         <video class="video" data-src="http://localhost:22222?file_name=1541820638qq/{{index.taskId}}/{{index.taskId}}.mp4"  preload="auto"  autoplay="autoplay" loop="loop">
        </video>
        <img class="border_img" src="assets/images/border.png" alt="图片">
        <!-- <img class="cute" src="assets/images/cute.png" alt="图片"> -->
         <!-- <div class="video_ID">视频ID：<span>{{index.taskId.substring(index.taskId.length-6)}}</span></div> -->
         <div class="video_ID"><span>{{index.time}}</span></div>
         <qrcode class="qrcode" [qrdata]="'https://ui.siiva.com/SiivaPage/#/pay?activity_id=1541820638qq&taskId='+index.taskId" [size]="80" [level]="'M'"></qrcode>
        </div> 
  </div>
  </div>
