.vscode/

node_modules/

*.mp4

*.MP4

*.pyc

YIController/

Edge/BulletTimeEdge/YIAgent/preview/

LEDSync/

output/

Edge/BulletTimeEdge/YIAgentServer/assets/

Cloud/worker/assets/

Edge/RunEdge/tmp/

Edge/RunEdge/M8_uploader/\.idea/


\.angulardoc\.json

worker.log

Cloud/server/db/access_token\.json

Cloud/server/\.idea/

LandingPage/SiivaPage/src/assets/videos/banner\.png

LandingPage/SiivaPage/src/assets/videos/

Cloud/worker/working/activity/1541475970/

Cloud/worker/testdata/moment/task6\.json

Cloud/worker/working/
