<div class="treadmill">
      <img class="background_search" src="assets/images/background_search.png" alt="背景图">
      <div class="logo">
        <img src="assets/images/logo.png" alt="LOGO">
      </div>
      <!-- <div class="form">
      <select class="treadmill_number" [(ngModel)]="treadmillNumber" autocomplete="off"  (change)="selectTreadmill()">   
        <option *ngFor="let treadmill of treadmills" [value]="treadmill">{{treadmill}}</option>
      </select>
      <span class="text" *ngIf="isText">选择您的跑步机位</span>
      <img class="jiantou" src="assets/images/jiantou.png" alt="下拉箭头">
     </div>  -->
     <div class="btn" (click)="search()"><span>立即查找</span></div>         

    <img class="pic_bottom" src="assets/images/bottom.png" alt="底图">
    </div>