@media screen and (max-width:768px){
    *{
        margin:0;
        padding:0;
    }
    body{
        margin:0;
        padding:0; 
    }
    .treadmill{
        position: absolute;
        width:100%;
        height:100%;
    }
    .background_search{
        position: absolute;
        width:100%;
        height:100%;
        left:0%;
        top:0%;
        pointer-events: none;
    }
    .logo{
        position: absolute;
        width:100%;
        left:0%;
        top:20%;
    }
   .logo img{
        position: absolute;
        left:0%;
        top:0%;
        width:100%;
        background-size: contain; 
        pointer-events: none;
    }
    .form{
        position: absolute;
        width:90%;
        height:8%;
        left:5%;
        top:55%;
    }
    .treadmill_number{
       position: absolute;
       width:100%;
       height:100%;
       left:0%;
       top:0%;
       border-radius: 40px;
       /* appearance: none; */
       -moz-appearance:none;
       -webkit-appearance:none;
       outline: none;
       padding-left:30px;
       font-size: 18px;
       box-sizing: border-box;
       background-color: rgb(255, 255, 255);
    }
    .text{
        position: absolute;
        left:30px;
        top:50%;
        font-size: 17px;
        transform: translateY(-50%);
        color:rgb(156, 156, 156);
    }
    .jiantou{
        position: absolute;
        width:10%;
        left:82%;
        top:50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
    .btn{
        position: absolute;
        width:90%;
        height:8%;
        left:5%;
        top:63%;
        border-radius: 40px;
        /* border-color: transparent; */
        background: linear-gradient(to bottom,#655ef4,#0d10df);
    }
    .btn span{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        color:white;
        font-family: '微软雅黑';
        letter-spacing: 4px;
        font-size: 22px;
        font-weight: bolder;
    }
    .pic_bottom{
        position: absolute;
        width:30%;
        top:90%;
        left:35%;
        pointer-events: none;
    }


}
@media screen and (min-width:768px){
    .treadmill{
        position: absolute;
        width:28%;
        left:36%;
        height:100%;
        top:0%;
    }
    *{
        margin:0;
        padding:0;
    }
    .background_search{
        position: absolute;
        width:100%;
        height:100%;
        left:0%;
        top:0%;
        pointer-events: none;
    }
    .logo{
        position: absolute;
        width:100%;
        left:0%;
        top:20%;
    }
   .logo img{
        position: absolute;
        left:0%;
        top:0%;
        width:100%;
        background-size: contain; 
        pointer-events: none;
    }
    .form{
        position: absolute;
        width:90%;
        height:8%;
        left:5%;
        top:55%;
    }
    .treadmill_number{
       position: absolute;
       width:100%;
       height:100%;
       left:0%;
       top:0%;
       border-radius: 40px;
       /* appearance: none; */
       -moz-appearance:none;
       -webkit-appearance:none;
       outline: none;
       padding-left:30px;
       font-size: 18px;
       box-sizing: border-box;
       background-color: rgb(255, 255, 255);
    }
    .text{
        position: absolute;
        left:30px;
        top:50%;
        font-size: 17px;
        transform: translateY(-50%);
        color:rgb(156, 156, 156);
    }
    .jiantou{
        position: absolute;
        width:10%;
        left:82%;
        top:50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
    .btn{
        position: absolute;
        width:90%;
        height:8%;
        left:5%;
        top:67%;
        border-radius: 40px;
        /* border-color: transparent; */
        background: linear-gradient(to bottom,#655ef4,#0d10df);
    }
    .btn span{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        color:white;
        font-family: '微软雅黑';
        letter-spacing: 4px;
        font-size: 22px;
        font-weight: bolder;
    }
    .pic_bottom{
        position: absolute;
        width:30%;
        top:90%;
        left:35%;
        pointer-events: none;
    }



}
