*{
  margin:0;
  padding:0;
}
.fail{
  position: absolute;
  width:100%;
  height:100%;
  left:0%;
  top:0%;
  /* background-image: url("../../assets/images/background.png"); */
  /* background-size: contain; */
}
.background{
  position: absolute;
  left:0%;
  top:0%;
  width:100%;
  height:100%;
  pointer-events: none;
}
.content{
  position: relative;
  width:100%;
  top:32%;
  height:32%;
 /* background-image: url("../../assets/images/picture1.png"); */
 /* background-size: contain; */
}
.picture1{
  position: absolute;
  left:0%;
  top:0%;
  width:100%;
  height:100%;
  pointer-events: none;
}
.title{
 position: absolute;
 width:100%;
 text-align: center;
 top:12%;
 color:#ea609e;
 font-size: 18px;
 font-family: '微软雅黑';
}

.hr1{
 background: #ea609e;
 position: absolute;
 left:32%;
 top:80.2%;
 width:5%;
 height:1px;
 /* opacity:0.6; */
}
.tishi{
 position: absolute;
 width:100%;
 text-align: center;
 top:76%;
 color:#ea609e;
 font-size:13px;
}
.hr2{
 background:#ea609e;
 position: absolute;
 left:62.5%;
 top:80.2%;
 width:5%;
 height:1px;
 /* opacity:0.6; */
}

.text1{
position: relative;
width:100%;
top:38%;
text-align: center;
color:#6e103c;
font-size: 15px;
/* letter-spacing: 2px; */
font-family: '微软雅黑';
}
.text2{
  position: relative;
  width:100%;
  top:40%;
  text-align: center;
  color:#6e103c;
  font-size: 15px;
  /* letter-spacing: 2px; */
  font-family: '微软雅黑';
}

.kitty_txt{
  position: absolute;
  width:30%;
  left:35%;
  top:91%;
}






