.container {
    
    margin-top: 1rem;
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
#table {
    /* margin: auto; */
    
    font-size: 16px;
}
#table tr:nth-child(even){

    background: #ccc;

}
#table thead {
    background: #ccc;
}
#table th {
    /* padding: 5px; */
    text-align: center;
}
#table td {
    word-break:break-all;
    /* padding: 5px; */
    text-align: center;
}

.siftings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 16px;

}
.siftings div {
    display: block;
    margin: auto;
}

input,select {
    width: 160px;
    text-transform: none;

}
label:after {
    content: ": ";
}
label{
    /* float: left; */
    padding-left: 2px;
    text-align: justify;
    margin-right: 8px;
    min-width: 100px;
    padding-bottom: 5px;
}
.formFoot {
    font-size: 12px;
}
.formFoot label, span {
    font-weight: lighter;
}
.formFoot select {
    width: 20px;
}
.tableBtn {
    min-width: 5rem;
}
/* .pageLabel {
    
    font-weight: lighter;
    width: 20px;
} */