<div class="search">
    <img class="background" alt="图片" style="width:100%;min-height:100%; position:fixed;left:0%;top:0%;z-index:-1 " src="assets/images/background1.jpg">
    <!-- <img class="logo" src="assets/images/logo.png" alt="图片"> -->
    <!-- <img class="end" src="assets/images/end.png" alt="图片"> -->
    <div class="register" >
    <img class="back_white" src="assets/images/white.png" alt="图片">
  
      <div class="title">
          参赛信息
      </div>
   <form id="form" name="myForm">
     <img class="number" src="assets/images/number.png">
     <input type="text" class="form-control" name="number" id="number" placeholder="请输入您的号码牌">
     <hr class="hr1"/> 
     <img class="name" src="assets/images/name.png">
     <input type="text" name="username" id="username" placeholder="请输入您的姓名">
     <hr class="hr2" />
   </form>
   <input class="btn" data-track='触碰' type="button" value="我的视频" (click)="find()" />
</div>
</div>