<!-- <div class="option_group">
    <input type="date" [(ngModel)]="time" required pattern="[0-9]{4}-[0-9]{1}-[0-9]{2}">
    siteIdd: 
    <!-- <select [(ngModel)]="siteValue" (change)="getTasklist()"> 
        <option *ngFor="let site of sitelist" [ngValue]="site">{{site.siteName}}</option>
    </select> -->
    <!-- <div *ngFor="let site of sitelist" [(ngModel)]="siteValue">
        
        <span>{{site.siteName}}</span>
    </div> 
    <div [class]="siteId.checked?'siteIdBtn siteIdChecked':'siteIdBtn'" *ngFor="let siteId of sitelist;index as i" (click)='selectSiteId(siteId)'>
        <span class="checkBox"></span>
        <span>{{siteId.id}}</span>
    </div>
    <div *ngIf="haveSiteid"> 暂无</div>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th *ngFor="let header of taskheader">{{header}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasklist">
                <td>
                    {{task.task.taskId}}
                </td>
                <td>
                    {{task.task.userId}}
                </td>
                <td>
                    {{task.createdAt}}
                </td>
                <td>
                    {{task.updatedAt}}
                </td>
                <td>
                    {{task.state}}
                </td>
                <td>
                    {{task.msg}}
                </td>
                <td>
                    <a *ngIf="task.state === 'complete' &&  task.task.type === 'BT-1'" href="http://siiva.cn-sh2.ufileos.com/ucloud/{{task.task.output.name}}"
                        target="_blank">視頻連結</a>
                    <a *ngIf="task.state === 'complete' &&  task.task.type === 'soccer'" href="http://siiva.cn-sh2.ufileos.com/soccer_{{task.task.taskId}}.mp4"
                        target="_blank">視頻連結</a>
                </td>
                <td>
                    <button (click)="reDoTask(task.task)">restart</button>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->

